*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f5f7fb;
}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:999;

}

.logo img{

height:60px;

}

nav{

display:flex;

gap:25px;

}

nav a{

text-decoration:none;

color:#222;

font-weight:600;

}

.apply-btn{

background:#ff6b00;

padding:12px 25px;

color:white;

border-radius:8px;

text-decoration:none;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 8%;

}

.hero-left{

width:50%;

}

.hero-left h1{

font-size:55px;

font-weight:800;

line-height:70px;

}

.hero-left span{

color:#ff6b00;

}

.hero-left p{

margin:25px 0;

font-size:18px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.hero-buttons a{

background:#ff6b00;

padding:15px 30px;

color:white;

text-decoration:none;

border-radius:8px;

}

.hero-right img{

width:450px;

}

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

}

.hero-left,

.hero-right{

width:100%;

}

nav{

display:none;

}

}
